i.icon {
  display: inline-block;
  min-height: 32px;
  min-width: 32px;
  background-repeat: no-repeat;
  background-size: contain;
}
button.icon {
  border: none;
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  background: none;
  border-radius: 50%;
}
button.icon i {
  width: 100%;
  height: 100%;
}
button.icon:active, button.icon:hover {
  border: 1px solid rgba(0, 0, 0, 0.5) !important;
}

i.icon.alert-error {
  background-image: url(/public/icons/svg/alert-error.svg); 
}
i.icon.x-circle-close-delete {
  background-image: url(/public/icons/svg/x-circle-close-delete.svg); 
}
