.LoginPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem 1fr 3rem;
  grid-template-areas: 
    "header"
    "body"
    "footer";
  width: 85%;
  height: 100%;
  margin: auto;
}
.Login-header {
  grid-area: header;
}
.Login-body {
  grid-area: body;
}
.Login-footer {
  grid-area: footer;
}

.Login-body h2 {
  margin-bottom: 0.5rem;
}
.Login-body form {
  margin-bottom: 2rem;
}

.Login-signup {
  margin-top: 2rem;
}
.Login-signup button {
  margin-left: 0.5rem;
}

footer {
  text-align: right;
}
.Login-footer-content {
  margin: 2rem 0;
}

