.TurnModePage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "body"
    "group";
  width: 100%;
}

.TurnModePage .body {
  grid-area: body;
}
.TurnModePage .group {
  grid-area: group;
}

.TurnModePage .user-list ul {
  position: fixed;
  bottom: 3rem;
  list-style-type: none;
  max-height: 20vh;
  overflow-y: auto;
}
