.TurnModePage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 1fr;
  grid-template-areas: 
    "title"
    "body";
}

.TurnModePage .title {
  grid-area: title;
}
.TurnModePage .body {
  grid-area: body;
}
