.BeatButton {
  display: inline-flex;
  position: relative;
  min-width: 2rem;
  min-height: 3rem;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
  padding: 0;
}
.BeatButton:active {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  /* left: 1px; */
  top: 1px;
}

.btn-label {
  text-align: center;
}

.BeatButton.red {
  background-color: var(--808-red);
}
.BeatButton.orange {
  background-color: var(--808-orange);
}
.BeatButton.yellow {
  background-color: var(--808-yellow);
}
.BeatButton.white {
  background-color: var(--808-white);
}

.BeatButton--led-container {
  width: 100%;
  text-align: center;
  margin-top: 0.4rem;
}

.BeatButton--led {
  display: inline-block;
  border-radius: 50%;
  background-color: black;
  width: 0.8rem;
  height: 0.8rem;
  top: 0.8rem;
}

.BeatButton--led.active {
  background-color: yellow;
}
