.Modal {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  color: var(--main-bg-color);
}
.Modal button.icon {
  height: 2rem;
  width: 2rem;
}
.Modal-window {
  display: grid;
  grid-template-rows: 2rem 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "controls"
    "body";
  width: 80vw;
  min-height: 30vh;
  padding: 1rem; 
  border-radius: 6px;
  margin: auto;
  background: white; 
}
.Modal-controls {
  grid-area: controls;
  display: flex;
  justify-content: right; 
  color: black;
}
.Modal-body {
  grid-area: body;
  display: flex;
  justify-content: center;
  align-items: center;
}
