.Sequencer {
  display: grid;
  grid-template-rows: 3rem 1fr 3rem;
  grid-template-areas: 
    "info"
    "tracks"
    "controls";
  border-radius: 5px;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.5);
  background: #333; 
  width: 100%;
  height: 100%;
}

.Sequencer-window {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Sequencer-window span {
  font-weight: bold;
  margin-right: 0.5rem;
}
.Sequencer-window span::after {
  content: ": ";
}
.Sequencer-window div,
.Sequencer-window select,
.Sequencer-window input {
  display: flex;
  align-items: center;
  border: none;
  background: green;
  padding: 4px;
  min-height: 1.5rem;
  border-radius: 3px;
  font-family: lcd;
}

.Sequencer-info {
  grid-area: info;
  display: flex;
  gap: 1.5rem; 
}
.Sequencer-tracks {
  grid-area: tracks;
}
.Sequencer-controls {
  grid-area: controls;
}
