.App {
  width: 100vw;
  height: 100vh;
}

.App-btn-menu {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
}
.Nav {
  position: fixed;
  top: 0;
  right: -80%;
  width: calc(80% - 2rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 5rem;
  grid-template-areas: 
    "top"
    "bottom";
  transition: all 0.5s ease 0s;
  overflow: hidden;
  background-color: var(--secondary-bg-color); 
  height: 100%;
  z-index: 1;
  padding: 1rem;
  box-shadow: none;
}
.App.nav-expanded .Nav {
  right: 0;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
}
.Nav-btn-container .btn-icon {
  font-size: 2rem;
}
.Nav .Nav-btn-container {
  text-align: right;
}
.Nav nav a {
  display: block;
  margin-bottom: 0.5rem;
  border-bottom: 1px solid white;
  font-size: 2rem;
  height: 2rem;
} 
.Nav-top {
  grid-area: top;
}
.Nav-bottom {
  grid-area: bottom;
}


button {
  border-radius: 4px;
}
form button[type="submit"] {
  margin-top: 0.5rem;
}

.form-group {
  margin-bottom: 0.5rem;
}
.form-group label, .form-group input {
  display: block;
  width: 100%;
}
.form-group label {
  font-size: 0.9rem;
}
.form-group input {
  height: 2rem;
}
label[for="email"]:before {
  content: "\1F4E7"; 
}
label[for="password"]:before {
  content: "\1F511";
}

/* General */
button {
  position: relative;
  padding: 0.7rem 1.4rem;
  font-weight: bold;
  border: none;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  top: 0;
  transition: all 0.15s ease 0s;
}
button img {
  display: inline-block;
  height: 0.75rem;
  margin-right: 2px;
}
button:active {
  top: 2px;
  border-bottom-width: 1px!important;
}
button.primary {
  background-color: var(--808-white);
  border-bottom-color: var(--808-white-dark);
  color: var(--main-bg-color);
}
button.secondary {
  background-color: var(--808-orange);
  border-bottom-color: var(--808-orange-dark);
  color: var(--808-white);
}
button.warning {
  background-color: var(--808-red);
  border-bottom-color: var(--808-red-dark);
  color: var(--808-white);
}

.page {
  width: 100vw;
  height: 100vh;
}


.btn-icon {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  border-radius: 6px;
}
.btn-icon:active {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.icon {
  height: 100%;
  width: auto;
}

#app-portal-modal {
  position: fixed;
  top: 0;
  bottom: 0;
}

/* Fonts */
@font-face {
  font-family: lcd;
  src: url(LCD.ttf);
}

/* Animations */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
